/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  }

body {
    background-image: url(https://images5.alphacoders.com/132/1323577.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}